body{
    background-image: url("./image/anh-1-2322.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: teal;
}
h2{
    text-align: center;
    color: teal;
}
b{
    font-style: italic;
    background-color: teal;
    color: aliceblue;
}